<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Add new certificate</title>
</head>
<body>

<h2>Add new certificate</h2>
<form th:method="post" th:action="@{/certificates}" th:object="${certificate}">
    <label for="name">Enter certificate name</label>
    <input type="text" th:field="*{name}" id="name" placeholder="3-20 symbols"/>
    <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Error name</div>
    <br/>

    <label for="description">Enter certificate description</label>
    <input type="text" th:field="*{description}" id="description" placeholder="5-100 symbols"/>
    <div th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Error name</div>
    <br/>

    <label for="price">Enter certificate price</label>
    <input type="text" th:field="*{price}" id="price" />
    <div th:if="${#fields.hasErrors('price')}" th:errors="*{price}">Error name</div>
    <br/>

    <label for="daysDuration">Enter certificate duration</label>
    <input type="text" th:field="*{daysDuration}" id="daysDuration" />
    <div th:if="${#fields.hasErrors('daysDuration')}" th:errors="*{daysDuration}">Error name</div>
    <br/>

    <input type="submit" name="Add new certificate">

</form>


</body>
</html>