<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Certificate List</title>
</head>
<body>

<p>Certificate description</p>

<div>
    <label>Certificate name</label>
    <div th:text="${certificate.getName()}">value</div>

    <label>Certificate description</label>
    <div th:text="${certificate.getDescription()}">value</div>

    <label>Certificate price</label>
    <div th:text="${certificate.getPrice()}">value</div>

    <label>Certificate duration</label>
    <div th:text="${certificate.getDaysDuration()}">value</div>

    <label>Certificate creation date</label>
    <div th:text="${certificate.getCreateDate()}">value</div>

</div>
<br/>

<a th:href="@{/certificates/{id}/edit(id=${certificate.getId()})}">Edit info</a>
<br/>
<br/>

<form th:method="delete" th:action="@{/certificates/{id}(id=${certificate.getId()})}">
    <input type="submit" value="Delete"/>
</form>



</body>
</html>